#contenido1 {
    margin-top: 8%;
}

#logo {
    margin-left: 15%;
}
#eslogan {
    text-align: center;
    margin-left: 9%;
    color: #D92323;
}

.divisores1 {
    background-color: black;
}

#separadorÓ {
    color: grey;
}

#botonRegistro {
    background-color: #42B72A;
}

#res {
    color: honeydew;
    
}

#pie {
    text-align: center;
    color: #D92323;
}

#barra {
    background-color: #F2C641;
}

#botonIniciar {
    background-color: #F2C641;
}

#botonRegistro{
    background-color: #D92323;
}