#barra {
    background-color: #F2C641;
}

#pie {
    text-align: center;
    color: #D92323;
}

.contenedor{
    position:relative;
    display: inline-block;
    text-align: center;
}

.txt{
    position: absolute;
    top: 150px;
    left: 200px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.imag{
    width: 1920px;
    max-width: 95%;
    height: 720px;
}

.bto{
    position: absolute;
    top: 250px;
    left: 350px;
}

.contene{
    text-align: center;
    align-items: center;
}

.titulo{
    text-align: center;
}

.relleno{
    position: relative;
    text-align: justify;
    align-items:center;
    max-width: 85%;
    left: 100px;
}