#barra {
    background-color: #F2C641;
}

#contenido {
    margin-top: 8%;
}

#imagen {
    justify-content: center;
}

#btnReg {
    background-color: #D92323;
    color: honeydew;
}

#btn_nabvar{
    background-color: #D92323;
    color: honeydew;
}
#pie {
    text-align: center;
    color: #D92323;
}

